[Desktop Entry]
Name=Reaper
Comment=Digital Audio Workstation
Categories=Audio;Video;AudioVideo;AudioVideoEditing;Recorder;
Exec=reaper
Icon=fm.reaper.Reaper
MimeType=application/x-reaper-project;application/x-reaper-project-backup;application/x-reaper-theme;
Type=Application
